@model IEnumerable<Trips.DAL.DTOs.CityDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Miasta</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Dodaj</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Miasto
            </th>
            <th>
                Opis
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
	            <a asp-action="Details" asp-route-id="@item.Id">Zobacz więcej</a>
	            
	            @if (User.IsInRole("Admin"))
	            {
		            <span>
			            |
			            <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
			            <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
		            </span>
	            }
                
            </td>
        </tr>
}
    </tbody>
</table>
